<script>
  $(".rima_eto").hover
  (
  function()
  {
  $(".rima_eto").css("font-weight","bold");
 
  },
  function()
  {
  $(".rima_eto").css("font-weight","normal");
  
  }
  ),
    
$(".rima_ia").hover
(
  function()
  {
  $(".rima_ia").css("font-weight","bold");
  },
  function()
  {
      $(".rima_ia").css("font-weight","normal");
  }
),

$(".rima_ion").hover
(
  function()
  {
  $(".rima_ion").css("font-weight","bold");
  },
  function()
  {
      $(".rima_ion").css("font-weight","normal");
  }
),

$(".rima_ona").hover
(
  function()
  {
  $(".rima_ona").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ona").css("font-weight","normal");
  }
),

$(".rima_una").hover
(
  function()
  {
  $(".rima_una").css("font-weight","bold");
  },
  function()
  {
     $(".rima_una").css("font-weight","normal");
  }
),

$(".rima_ir").hover
(
  function()
  {
  $(".rima_ir").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ir").css("font-weight","normal");
  }
),

$(".rima_on").hover
(
  function()
  {
  $(".rima_on").css("font-weight","bold");
  },
  function()
  {
     $(".rima_on").css("font-weight","normal");
  }
),

$(".rima_ado").hover
(
  function()
  {
  $(".rima_ado").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ado").css("font-weight","normal");
  }
),

$(".rima_ança").hover
(
  function()
  {
  $(".rima_ança").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ança").css("font-weight","normal");
  }
),

$(".rima_ejas").hover
(
  function()
  {
  $(".rima_ejas").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ejas").css("font-weight","normal");
  }
),

$(".rima_anos").hover
(
  function()
  {
  $(".rima_anos").css("font-weight","bold");
  },
  function()
  {
     $(".rima_anos").css("font-weight","normal");
  }
),

$(".rima_ey").hover
(
  function()
  {
  $(".rima_ey").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ey").css("font-weight","normal");
  }
),

$(".rima_ura").hover
(
  function()
  {
  $(".rima_ura").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ura").css("font-weight","normal");
  }
),

$(".rima_opa").hover
(
  function()
  {
  $(".rima_opa").css("font-weight","bold");
  },
  function()
  {
     $(".rima_opa").css("font-weight","normal");
  }
),

$(".rima_er").hover
(
  function()
  {
  $(".rima_er").css("font-weight","bold");
  },
  function()
  {
     $(".rima_er").css("font-weight","normal");
  }
),

$(".rima_ada").hover
(
  function()
  {
  $(".rima_ada").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ada").css("font-weight","normal");
  }
),

$(".rima_il").hover
(
  function()
  {
  $(".rima_il").css("font-weight","bold");
  },
  function()
  {
     $(".rima_il").css("font-weight","normal");
  }
),

$(".rima_or").hover
(
  function()
  {
  $(".rima_or").css("font-weight","bold");
  },
  function()
  {
     $(".rima_or").css("font-weight","normal");
  }
),

$(".rima_ente").hover
(
  function()
  {
  $(".rima_ente").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ente").css("font-weight","normal");
  }
),


$(".rima_osa").hover
(
  function()
  {
  $(".rima_osa").css("font-weight","bold");
  },
  function()
  {
     $(".rima_osa").css("font-weight","normal");
  }
),

$(".rima_adas").hover
(
  function()
  {
  $(".rima_adas").css("font-weight","bold");
  },
  function()
  {
     $(".rima_adas").css("font-weight","normal");
  }
),

$(".rima_ido").hover
(
  function()
  {
  $(".rima_ido").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ido").css("font-weight","normal");
  }
),

$(".rima_undo").hover
(
  function()
  {
  $(".rima_undo").css("font-weight","bold");
  },
  function()
  {
     $(".rima_undo").css("font-weight","normal");
  }
),

$(".rima_ales").hover
(
  function()
  {
  $(".rima_ales").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ales").css("font-weight","normal");
  }
),

$(".rima_aya").hover
(
  function()
  {
  $(".rima_aya").css("font-weight","bold");
  },
  function()
  {
     $(".rima_aya").css("font-weight","normal");
  }
),

$(".rima_ante").hover
(
  function()
  {
  $(".rima_ante").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ante").css("font-weight","normal");
  }
),

$(".rima_iste").hover
(
  function()
  {
  $(".rima_iste").css("font-weight","bold");
  },
  function()
  {
     $(".rima_iste").css("font-weight","normal");
  }
),

$(".rima_ento").hover
(
  function()
  {
  $(".rima_ento").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ento").css("font-weight","normal");
  }
),

$(".rima_ar").hover
(
  function()
  {
  $(".rima_ar").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ar").css("font-weight","normal");
  }
),


$(".rima_ias").hover
(
  function()
  {
  $(".rima_ias").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ias").css("font-weight","normal");
  }
),


$(".rima_oso").hover
(
  function()
  {
  $(".rima_oso").css("font-weight","bold");
  },
  function()
  {
     $(".rima_oso").css("font-weight","normal");
  }
),


$(".rima_aste").hover
(
  function()
  {
  $(".rima_aste").css("font-weight","bold");
  },
  function()
  {
     $(".rima_aste").css("font-weight","normal");
  }
),


$(".rima_illo").hover
(
  function()
  {
  $(".rima_illo").css("font-weight","bold");
  },
  function()
  {
     $(".rima_illo").css("font-weight","normal");
  }
),

$(".rima_ades").hover
(
  function()
  {
  $(".rima_ades").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ades").css("font-weight","normal");
  }
),


$(".rima_elo").hover
(
  function()
  {
  $(".rima_elo").css("font-weight","bold");
  },
  function()
  {
     $(".rima_elo").css("font-weight","normal");
  }
),


$(".rima_ida").hover
(
  function()
  {
  $(".rima_ida").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ida").css("font-weight","normal");
  }
),


$(".rima_idos").hover
(
  function()
  {
  $(".rima_idos").css("font-weight","bold");
  },
  function()
  {
     $(".rima_idos").css("font-weight","normal");
  }
),


$(".rima_uz").hover
(
  function()
  {
  $(".rima_uz").css("font-weight","bold");
  },
  function()
  {
     $(".rima_uz").css("font-weight","normal");
  }
),

$(".rima_ivos").hover
(
  function()
  {
  $(".rima_ivos").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ivos").css("font-weight","normal");
  }
),


$(".rima_eza").hover
(
  function()
  {
  $(".rima_eza").css("font-weight","bold");
  },
  function()
  {
     $(".rima_eza").css("font-weight","normal");
  }
),



$(".rima_echo").hover
(
  function()
  {
  $(".rima_echo").css("font-weight","bold");
  },
  function()
  {
     $(".rima_echo").css("font-weight","normal");
  }
),


$(".rima_ogue").hover
(
  function()
  {
  $(".rima_ogue").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ogue").css("font-weight","normal");
  }
),


$(".rima_onso").hover
(
  function()
  {
  $(".rima_onso").css("font-weight","bold");
  },
  function()
  {
     $(".rima_onso").css("font-weight","normal");
  }
),



$(".rima_unda").hover
(
  function()
  {
  $(".rima_unda").css("font-weight","bold");
  },
  function()
  {
     $(".rima_unda").css("font-weight","normal");
  }
),


$(".rima_anco").hover
(
  function()
  {
  $(".rima_anco").css("font-weight","bold");
  },
  function()
  {
     $(".rima_anco").css("font-weight","normal");
  }
),

$(".rima_emo").hover
(
  function()
  {
  $(".rima_emo").css("font-weight","bold");
  },
  function()
  {
     $(".rima_emo").css("font-weight","normal");
  }
),

$(".rima_unto").hover
(
  function()
  {
  $(".rima_unto").css("font-weight","bold");
  },
  function()
  {
     $(".rima_unto").css("font-weight","normal");
  }
),


$(".rima_obre").hover
(
  function()
  {
  $(".rima_obre").css("font-weight","bold");
  },
  function()
  {
     $(".rima_obre").css("font-weight","normal");
  }
),


$(".rima_ino").hover
(
  function()
  {
  $(".rima_ino").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ino").css("font-weight","normal");
  }
),


$(".rima_uesta").hover
(
  function()
  {
  $(".rima_uesta").css("font-weight","bold");
  },
  function()
  {
     $(".rima_uesta").css("font-weight","normal");
  }
),


$(".rima_able").hover
(
  function()
  {
  $(".rima_able").css("font-weight","bold");
  },
  function()
  {
     $(".rima_able").css("font-weight","normal");
  }
),


$(".rima_igno").hover
(
  function()
  {
  $(".rima_igno").css("font-weight","bold");
  },
  function()
  {
     $(".rima_igno").css("font-weight","normal");
  }
),



$(".rima_astes").hover
(
  function()
  {
  $(".rima_astes").css("font-weight","bold");
  },
  function()
  {
     $(".rima_astes").css("font-weight","normal");
  }
),


$(".rima_esa").hover
(
  function()
  {
  $(".rima_esa").css("font-weight","bold");
  },
  function()
  {
     $(".rima_esa").css("font-weight","normal");
  }
),

$(".rima_año").hover
(
  function()
  {
  $(".rima_año").css("font-weight","bold");
  },
  function()
  {
     $(".rima_año").css("font-weight","normal");
  }
),

$(".rima_ano").hover
(
  function()
  {
  $(".rima_ano").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ano").css("font-weight","normal");
  }
),



$(".rima_iene").hover
(
  function()
  {
  $(".rima_iene").css("font-weight","bold");
  },
  function()
  {
     $(".rima_iene").css("font-weight","normal");
  }
),



$(".rima_ara").hover
(
  function()
  {
  $(".rima_ara").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ara").css("font-weight","normal");
  }
),


$(".rima_edes").hover
(
  function()
  {
  $(".rima_edes").css("font-weight","bold");
  },
  function()
  {
     $(".rima_edes").css("font-weight","normal");
  }
),

$(".rima_at").hover
(
  function()
  {
  $(".rima_at").css("font-weight","bold");
  },
  function()
  {
     $(".rima_at").css("font-weight","normal");
  }
),



$(".rima_ad").hover
(
  function()
  {
  $(".rima_ad").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ad").css("font-weight","normal");
  }
),



$(".rima_uye").hover
(
  function()
  {
  $(".rima_uye").css("font-weight","bold");
  },
  function()
  {
     $(".rima_uye").css("font-weight","normal");
  }
),


$(".rima_encia").hover
(
  function()
  {
  $(".rima_encia").css("font-weight","bold");
  },
  function()
  {
     $(".rima_encia").css("font-weight","normal");
  }
),


$(".rima_ensa").hover
(
  function()
  {
  $(".rima_ensa").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ensa").css("font-weight","normal");
  }
),


$(".rima_ero").hover
(
  function()
  {
  $(".rima_ero").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ero").css("font-weight","normal");
  }
),


$(".rima_eta").hover
(
  function()
  {
  $(".rima_eta").css("font-weight","bold");
  },
  function()
  {
     $(".rima_eta").css("font-weight","normal");
  }
),


$(".rima_iendo").hover
(
  function()
  {
  $(".rima_iendo").css("font-weight","bold");
  },
  function()
  {
     $(".rima_iendo").css("font-weight","normal");
  }
),

$(".rima_oco").hover
(
  function()
  {
  $(".rima_oco").css("font-weight","bold");
  },
  function()
  {
     $(".rima_oco").css("font-weight","normal");
  }
),

$(".rima_era").hover
(
  function()
  {
  $(".rima_era").css("font-weight","bold");
  },
  function()
  {
     $(".rima_era").css("font-weight","normal");
  }
),


$(".rima_ima").hover
(
  function()
  {
  $(".rima_ima").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ima").css("font-weight","normal");
  }
),


$(".rima_oro").hover
(
  function()
  {
  $(".rima_oro").css("font-weight","bold");
  },
  function()
  {
     $(".rima_oro").css("font-weight","normal");
  }
),


$(".rima_al").hover
(
  function()
  {
  $(".rima_al").css("font-weight","bold");
  },
  function()
  {
     $(".rima_al").css("font-weight","normal");
  }
),


$(".rima_ava").hover
(
  function()
  {
  $(".rima_ava").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ava").css("font-weight","normal");
  }
),


$(".rima_iso").hover
(
  function()
  {
  $(".rima_iso").css("font-weight","bold");
  },
  function()
  {
     $(".rima_iso").css("font-weight","normal");
  }
),


$(".rima_estro").hover
(
  function()
  {
  $(".rima_estro").css("font-weight","bold");
  },
  function()
  {
     $(".rima_estro").css("font-weight","normal");
  }
),


$(".rima_urno").hover
(
  function()
  {
  $(".rima_urno").css("font-weight","bold");
  },
  function()
  {
     $(".rima_urno").css("font-weight","normal");
  }
),


$(".rima_iere").hover
(
  function()
  {
  $(".rima_iere").css("font-weight","bold");
  },
  function()
  {
     $(".rima_iere").css("font-weight","normal");
  }
),



$(".rima_ista").hover
(
  function()
  {
  $(".rima_ista").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ista").css("font-weight","normal");
  }
),


$(".rima_ere").hover
(
  function()
  {
  $(".rima_ere").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ere").css("font-weight","normal");
  }
),



$(".rima_iles").hover
(
  function()
  {
  $(".rima_iles").css("font-weight","bold");
  },
  function()
  {
     $(".rima_iles").css("font-weight","normal");
  }
),



$(".rima_udos").hover
(
  function()
  {
  $(".rima_udos").css("font-weight","bold");
  },
  function()
  {
     $(".rima_udos").css("font-weight","normal");
  }
),



$(".rima_eda").hover
(
  function()
  {
  $(".rima_eda").css("font-weight","bold");
  },
  function()
  {
     $(".rima_eda").css("font-weight","normal");
  }
),

$(".rima_ueda").hover
(
  function()
  {
  $(".rima_ueda").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ueda").css("font-weight","normal");
  }
),

$(".rima_entos").hover
(
  function()
  {
  $(".rima_entos").css("font-weight","bold");
  },
  function()
  {
     $(".rima_entos").css("font-weight","normal");
  }
),



$(".rima_uerte").hover
(
  function()
  {
  $(".rima_uerte").css("font-weight","bold");
  },
  function()
  {
     $(".rima_uerte").css("font-weight","normal");
  }
),



$(".rima_endo").hover
(
  function()
  {
  $(".rima_endo").css("font-weight","bold");
  },
  function()
  {
     $(".rima_endo").css("font-weight","normal");
  }
),



$(".rima_ee").hover
(
  function()
  {
  $(".rima_ee").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ee").css("font-weight","normal");
  }
),



$(".rima_a").hover
(
  function()
  {
  $(".rima_a").css("font-weight","bold");
  },
  function()
  {
     $(".rima_a").css("font-weight","normal");
  }
),



$(".rima_ayo").hover
(
  function()
  {
  $(".rima_ayo").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ayo").css("font-weight","normal");
  }
),



$(".rima_unas").hover
(
  function()
  {
  $(".rima_unas").css("font-weight","bold");
  },
  function()
  {
     $(".rima_unas").css("font-weight","normal");
  }
),



$(".rima_esce").hover
(
  function()
  {
  $(".rima_esce").css("font-weight","bold");
  },
  function()
  {
     $(".rima_esce").css("font-weight","normal");
  }
),



$(".rima_iento").hover
(
  function()
  {
  $(".rima_iento").css("font-weight","bold");
  },
  function()
  {
     $(".rima_iento").css("font-weight","normal");
  }
),



$(".rima_ando").hover
(
  function()
  {
  $(".rima_ando").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ando").css("font-weight","normal");
  }
),



$(".rima_udo").hover
(
  function()
  {
  $(".rima_udo").css("font-weight","bold");
  },
  function()
  {
     $(".rima_udo").css("font-weight","normal");
  }
),



$(".rima_ario").hover
(
  function()
  {
  $(".rima_ario").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ario").css("font-weight","normal");
  }
),



$(".rima_ea").hover
(
  function()
  {
  $(".rima_ea").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ea").css("font-weight","normal");
  }
),



$(".rima_ez").hover
(
  function()
  {
  $(".rima_ez").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ez").css("font-weight","normal");
  }
),



$(".rima_ende").hover
(
  function()
  {
  $(".rima_ende").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ende").css("font-weight","normal");
  }
),



$(".rima_echa").hover
(
  function()
  {
  $(".rima_echa").css("font-weight","bold");
  },
  function()
  {
     $(".rima_echa").css("font-weight","normal");
  }
),



$(".rima_esta").hover
(
  function()
  {
  $(".rima_esta").css("font-weight","bold");
  },
  function()
  {
     $(".rima_esta").css("font-weight","normal");
  }
),



$(".rima_ores").hover
(
  function()
  {
  $(".rima_ores").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ores").css("font-weight","normal");
  }
),



$(".rima_icio").hover
(
  function()
  {
  $(".rima_icio").css("font-weight","bold");
  },
  function()
  {
     $(".rima_icio").css("font-weight","normal");
  }
),



$(".rima_ena").hover
(
  function()
  {
  $(".rima_ena").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ena").css("font-weight","normal");
  }
),



$(".rima_enda").hover
(
  function()
  {
  $(".rima_enda").css("font-weight","bold");
  },
  function()
  {
     $(".rima_enda").css("font-weight","normal");
  }
),



$(".rima_adre").hover
(
  function()
  {
  $(".rima_adre").css("font-weight","bold");
  },
  function()
  {
     $(".rima_adre").css("font-weight","normal");
  }
),



$(".rima_isa").hover
(
  function()
  {
  $(".rima_isa").css("font-weight","bold");
  },
  function()
  {
     $(".rima_isa").css("font-weight","normal");
  }
),



$(".rima_ude").hover
(
  function()
  {
  $(".rima_ude").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ude").css("font-weight","normal");
  }
),



$(".rima_apa").hover
(
  function()
  {
  $(".rima_apa").css("font-weight","bold");
  },
  function()
  {
     $(".rima_apa").css("font-weight","normal");
  }
),



$(".rima_unta").hover
(
  function()
  {
  $(".rima_unta").css("font-weight","bold");
  },
  function()
  {
     $(".rima_unta").css("font-weight","normal");
  }
),



$(".rima_esto").hover
(
  function()
  {
  $(".rima_esto").css("font-weight","bold");
  },
  function()
  {
     $(".rima_esto").css("font-weight","normal");
  }
),



$(".rima_aña").hover
(
  function()
  {
  $(".rima_aña").css("font-weight","bold");
  },
  function()
  {
     $(".rima_aña").css("font-weight","normal");
  }
),



$(".rima_i").hover
(
  function()
  {
  $(".rima_i").css("font-weight","bold");
  },
  function()
  {
     $(".rima_i").css("font-weight","normal");
  }
),



$(".rima_ent").hover
(
  function()
  {
  $(".rima_ent").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ent").css("font-weight","normal");
  }
),



$(".rima_iente").hover
(
  function()
  {
  $(".rima_iente").css("font-weight","bold");
  },
  function()
  {
     $(".rima_iente").css("font-weight","normal");
  }
),



$(".rima_este").hover
(
  function()
  {
  $(".rima_este").css("font-weight","bold");
  },
  function()
  {
     $(".rima_este").css("font-weight","normal");
  }
),



$(".rima_io").hover
(
  function()
  {
  $(".rima_io").css("font-weight","bold");
  },
  function()
  {
     $(".rima_io").css("font-weight","normal");
  }
),



$(".rima_iones").hover
(
  function()
  {
  $(".rima_iones").css("font-weight","bold");
  },
  function()
  {
     $(".rima_iones").css("font-weight","normal");
  }
),



$(".rima_illa").hover
(
  function()
  {
  $(".rima_illa").css("font-weight","bold");
  },
  function()
  {
     $(".rima_illa").css("font-weight","normal");
  }
),



$(".rima_ones").hover
(
  function()
  {
  $(".rima_ones").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ones").css("font-weight","normal");
  }
),



$(".rima_inas").hover
(
  function()
  {
  $(".rima_inas").css("font-weight","bold");
  },
  function()
  {
     $(".rima_inas").css("font-weight","normal");
  }
),



$(".rima_eña").hover
(
  function()
  {
  $(".rima_eña").css("font-weight","bold");
  },
  function()
  {
     $(".rima_eña").css("font-weight","normal");
  }
),



$(".rima_eito").hover
(
  function()
  {
  $(".rima_eito").css("font-weight","bold");
  },
  function()
  {
     $(".rima_eito").css("font-weight","normal");
  }
),



$(".rima_edo").hover
(
  function()
  {
  $(".rima_edo").css("font-weight","bold");
  },
  function()
  {
     $(".rima_edo").css("font-weight","normal");
  }
),



$(".rima_ados").hover
(
  function()
  {
  $(".rima_ados").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ados").css("font-weight","normal");
  }
),



$(".rima_an").hover
(
  function()
  {
  $(".rima_an").css("font-weight","bold");
  },
  function()
  {
     $(".rima_an").css("font-weight","normal");
  }
),



$(".rima_ou").hover
(
  function()
  {
  $(".rima_ou").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ou").css("font-weight","normal");
  }
),



$(".rima_ade").hover
(
  function()
  {
  $(".rima_ade").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ade").css("font-weight","normal");
  }
),



$(".rima_ua").hover
(
  function()
  {
  $(".rima_ua").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ua").css("font-weight","normal");
  }
),



$(".rima_en").hover
(
  function()
  {
  $(".rima_en").css("font-weight","bold");
  },
  function()
  {
     $(".rima_en").css("font-weight","normal");
  }
),



$(".rima_el").hover
(
  function()
  {
  $(".rima_el").css("font-weight","bold");
  },
  function()
  {
     $(".rima_el").css("font-weight","normal");
  }
),



$(".rima_eu").hover
(
  function()
  {
  $(".rima_eu").css("font-weight","bold");
  },
  function()
  {
     $(".rima_eu").css("font-weight","normal");
  }
),



$(".rima_ur").hover
(
  function()
  {
  $(".rima_ur").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ur").css("font-weight","normal");
  }
),



$(".rima_az").hover
(
  function()
  {
  $(".rima_az").css("font-weight","bold");
  },
  function()
  {
     $(".rima_az").css("font-weight","normal");
  }
),

$(".rima_as").hover
(
  function()
  {
  $(".rima_as").css("font-weight","bold");
  },
  function()
  {
     $(".rima_as").css("font-weight","normal");
  }
),

$(".rima_ei").hover
(
  function()
  {
  $(".rima_ei").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ei").css("font-weight","normal");
  }
),



$(".rima_eus").hover
(
  function()
  {
  $(".rima_eus").css("font-weight","bold");
  },
  function()
  {
     $(".rima_eus").css("font-weight","normal");
  }
),



$(".rima_e").hover
(
  function()
  {
  $(".rima_e").css("font-weight","bold");
  },
  function()
  {
     $(".rima_e").css("font-weight","normal");
  }
),



$(".rima_u").hover
(
  function()
  {
  $(".rima_u").css("font-weight","bold");
  },
  function()
  {
     $(".rima_u").css("font-weight","normal");
  }
),



$(".rima_uda").hover
(
  function()
  {
  $(".rima_uda").css("font-weight","bold");
  },
  function()
  {
     $(".rima_uda").css("font-weight","normal");
  }
),



$(".rima_eita").hover
(
  function()
  {
  $(".rima_eita").css("font-weight","bold");
  },
  function()
  {
     $(".rima_eita").css("font-weight","normal");
  }
),



$(".rima_eja").hover
(
  function()
  {
  $(".rima_eja").css("font-weight","bold");
  },
  function()
  {
     $(".rima_eja").css("font-weight","normal");
  }
),



$(".rima_avan").hover
(
  function()
  {
  $(".rima_avan").css("font-weight","bold");
  },
  function()
  {
     $(".rima_avan").css("font-weight","normal");
  }
),



$(".rima_ama").hover
(
  function()
  {
  $(".rima_ama").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ama").css("font-weight","normal");
  }
),



$(".rima_ela").hover
(
  function()
  {
  $(".rima_ela").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ela").css("font-weight","normal");
  }
),

$(".rima_erra").hover
(
  function()
  {
  $(".rima_erra").css("font-weight","bold");
  },
  function()
  {
     $(".rima_erra").css("font-weight","normal");
  }
),

$(".rima_aron").hover
(
  function()
  {
  $(".rima_aron").css("font-weight","bold");
  },
  function()
  {
     $(".rima_aron").css("font-weight","normal");
  }
),


$(".rima_iam").hover
(
  function()
  {
  $(".rima_iam").css("font-weight","bold");
  },
  function()
  {
     $(".rima_iam").css("font-weight","normal");
  }
),


$(".rima_anna").hover
(
  function()
  {
  $(".rima_anna").css("font-weight","bold");
  },
  function()
  {
     $(".rima_anna").css("font-weight","normal");
  }
),


$(".rima_igo").hover
(
  function()
  {
  $(".rima_igo").css("font-weight","bold");
  },
  function()
  {
     $(".rima_igo").css("font-weight","normal");
  }
),


$(".rima_te").hover
(
  function()
  {
  $(".rima_te").css("font-weight","bold");
  },
  function()
  {
     $(".rima_te").css("font-weight","normal");
  }
),


$(".rima_es").hover
(
  function()
  {
  $(".rima_es").css("font-weight","bold");
  },
  function()
  {
     $(".rima_es").css("font-weight","normal");
  }
),


$(".rima_iu").hover
(
  function()
  {
  $(".rima_iu").css("font-weight","bold");
  },
  function()
  {
     $(".rima_iu").css("font-weight","normal");
  }
),




$(".rima_in").hover
(
  function()
  {
  $(".rima_in").css("font-weight","bold");
  },
  function()
  {
     $(".rima_in").css("font-weight","normal");
  }
),


$(".rima_erno").hover
(
  function()
  {
  $(".rima_erno").css("font-weight","bold");
  },
  function()
  {
     $(".rima_erno").css("font-weight","normal");
  }
),


$(".rima_eva").hover
(
  function()
  {
  $(".rima_eva").css("font-weight","bold");
  },
  function()
  {
     $(".rima_eva").css("font-weight","normal");
  }
),



$(".rima_ave").hover
(
  function()
  {
  $(".rima_ave").css("font-weight","bold");
  },
  function()
  {
     $(".rima_ave").css("font-weight","normal");
  }
),


$(".rima_").hover
(
  function()
  {
  $(".rima_").css("font-weight","bold");
  },
  function()
  {
     $(".rima_").css("font-weight","normal");
  }
),

$(".rima_").hover
(
  function()
  {
  $(".rima_").css("font-weight","bold");
  },
  function()
  {
     $(".rima_").css("font-weight","normal");
  }
),

$(".rima_").hover
(
  function()
  {
  $(".rima_").css("font-weight","bold");
  },
  function()
  {
     $(".rima_").css("font-weight","normal");
  }
),

$(".rima_").hover
(
  function()
  {
  $(".rima_").css("font-weight","bold");
  },
  function()
  {
     $(".rima_").css("font-weight","normal");
  }
),

$(".rima_").hover
(
  function()
  {
  $(".rima_").css("font-weight","bold");
  },
  function()
  {
     $(".rima_").css("font-weight","normal");
  }
),

$(".rima_").hover
(
  function()
  {
  $(".rima_").css("font-weight","bold");
  },
  function()
  {
     $(".rima_").css("font-weight","normal");
  }
),




$(".rima_idos").hover
(
  function()
  {
  $(".rima_idos").css("font-weight","bold");
  },
  function()
  {
     $(".rima_idos").css("font-weight","normal");
  }
)
</script>